ul.menu {
	margin: 0;
	padding: 0;
	li {
		display: inline;
		margin-right: 10px;
		a {
			font-family: $lato;
			color: $offWhite;
			// text-transform: uppercase;
			letter-spacing: 1px;
			font-weight: 300;
			padding: 10px;
			// border-bottom: 1px solid $darkBlue;
			&:hover {
				// border-bottom: 1px solid $white;
				color: $white;
			}
		}
	}
}

.navContainer {
	background: $darkBlue;
	height: 45px;
	z-index: 999;
	// position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
	@include flexboxRow;
	@include justifyContentSpaceBetween;
	padding: 0 90px;
	.navLogo, .mainNav, .navSocial {
		@include flexboxRow;
		@include alignItemsCenter;
		p, .phone {
			font-size: 16px;
			font-weight: 100;
		}
		.phone {
			padding-left: 10px;
		}
	}
	.navSocial a {
		margin-left: 15px;
	}
	.mainNav {
		@include flexboxRow;
		ul {
			@include flexboxRow;
			list-style: none;
			margin: 0;
			padding: 0;
		}
	}
}

.fixedNavContainer {
	position: fixed;
	top: 0;
}