

$mainFont: 'Montserrat', sans-serif;
$openSans: 'Open Sans', sans-serif;
$lato: 'Lato', sans-serif;


$white: rgb(255, 255, 255);
$darkBlue: rgba( 21, 28, 41,1);	/* Main Primary color */
$blueOne:rgba( 48, 62, 85,1);
$blueTwo: rgba( 34, 44, 62,1);
$blueThree: rgba( 22, 34, 55,1);
$blueFour: rgba( 19, 35, 64,1);
$darkGrey: rgb(49,49,49);